<div class="cadastroPage">
  <img style="max-width: 100px; padding-bottom: 30px;" src="http://localhost:8081/images/logo.png">
    <div class="cadastroForm">
      <div class="title"><i style="margin-right: 5px; color: #668E28;" class="fas fa-plus"></i> Adicionar transação:</div>
      <form action="/added" method="POST">
          <p>Qual o seu nome? </p>
          <input type="text" name="nome">
          <p>Qual o valor da compra em R$? </p>
          <input type="number" name="valor">
          <p>Quando você comprou?: </p>
          <input type="date" name="data">
          <p>O que você comprou? </p>
          <input type="text" name="compra">
          <button type="submit"><i class="fas fa-arrow-right"></i></button>
      </form>
    </div>
</div>
