<div class="cadastroPage">
  <img style="max-width: 100px; padding-bottom: 30px;" src="http://localhost:8081/images/logo.png">
  <div class="cadastroForm">
    <div class="title"><i style="margin-right: 5px; color: #668E28;" class="fas fa-trash"></i> Transação deletada!</div>
      <a href="/"><button style="margin-top: 0;" type="submit"><i class="fas fa-arrow-left"></i></button></a>
  </div>
</div>
